* {
  margin: 0;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.map {
  background-color: lightblue;
}

.btn-container{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

button{
  cursor: pointer;
}
