* {
  margin: 0;
}

#root {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

header,
nav,
main,
footer {
  padding: 1em;
}

header,
nav {
  text-align: center;
}

.map-container {
  height: 100%;
  width: 100%;
}

footer {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr auto;
}

#marker {
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: #0FF;
  opacity: 0.5;
}

main aside {
  display: grid;
  grid-template-columns: 0;
  transition: grid-template-columns 0.5s ease-out;
  overflow-x: clip;
  overflow-y: auto;
  max-height: calc(100dvh - 100px);
}

main aside.visible {
  grid-template-columns: 1fr;
}

main aside > * {
  padding: 0.25rem;
}
